@using Client.Pages.OtherPages
@using Microsoft.AspNetCore.Authorization
@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <div class="left-side">
                <img class="icon-link" src="images/icon/nfrdi.png" alt="nfrdi icon" width="100" height="100" 
                style="padding-top: 10px; padding-right: 10px">
               <div class="text">
                <h5 style="color: black; padding-top: 10px">National Fisheries Research and Development Institute</h5>
                <h2 style="color: black;">Purchase Order Tracking and Management System</h2>
                </div>
            </div>
            <div class="right-side">
            <ProfileDropDown></ProfileDropDown>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider/>

@code{
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}