<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header> @Title Purchase Order </Header>
        <Content>
            <EditForm Model="PurchaseOrder" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input @bind="PurchaseOrder.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Remarks</label>
                            <InputText @bind-Value="PurchaseOrder.Remarks" class="form-control" />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Request</label>

                            @if (PurchaseOrder.Request != null)
                            {
                                int selected = PurchaseOrder.Request!.RecordNumber;
                                <SfDropDownList TValue="int" TItem="Request" Placeholder="@selected.ToString()" DataSource="Requests">
                                    <DropDownListFieldSettings Value="Id" Text="RecordNumber"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="Request" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="int" TItem="Request" Placeholder="Select Request" DataSource="Requests">
                                    <DropDownListFieldSettings Value="Id" Text="RecordNumber"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="int" TItem="Request" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
    [Parameter] public PurchaseOrder PurchaseOrder { get; set; } = new();
    [Parameter] public List<Request> Requests { get; set; } = new();
    [Parameter] public EventCallback<PurchaseOrder> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    private async void Save()
    {
        if (string.IsNullOrEmpty(PurchaseOrder.Remarks) || PurchaseOrder.RequestId <= 0)
            await dialogService.AlertAsync("You need to provide a remark.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(PurchaseOrder);
        NavManager.NavigateTo("/home/purchaseorderpage");
    }

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }

    public void OnValueChange(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int, Request> args)
    {
        PurchaseOrder.RequestId = args.Value;
    }
}
