<SfDialog Width="800px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header> @Title Purchase Order </Header>
        <Content>
            <EditForm Model="PurchaseOrder" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Supplier</label>
                            <InputText @bind-Value="PurchaseOrder.Supplier" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <InputText @bind-Value="PurchaseOrder.Address" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">TIN</label>
                            <InputText @bind-Value="PurchaseOrder.Tin" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">PO Number</label>
                            <InputText @bind-Value="PurchaseOrder.PoNumber" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Received By</label>
                            <InputDate @bind-Value="PurchaseOrder.Date" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Mode of Procurement</label>
                            <InputText @bind-Value="PurchaseOrder.Procurement" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Place Of Delivery</label>
                            <InputText @bind-Value="PurchaseOrder.DeliveryPlace" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Delivery Term</label>
                            <InputText @bind-Value="PurchaseOrder.DeliveryTerm" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Payment Term</label>
                            <InputText @bind-Value="PurchaseOrder.PaymentTerm" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Date of Delivery</label>
                            <InputNumber @bind-Value="PurchaseOrder.DeliveryDays" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Remarks</label>
                            <InputTextArea @bind-Value="PurchaseOrder.Remarks" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>
@code {
    [Parameter]
    public PurchaseOrder PurchaseOrder { get; set; } = new();
    [Parameter] public EventCallback<PurchaseOrder> HandleSaveOperationEvent { get; set; }
    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";
    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async Task Save() => await HandleSaveOperationEvent.InvokeAsync(PurchaseOrder);

    public void ChangeTitle(string title) => Title = title;
}
